{% if is_2fa %}
<div class="alert alert-info alert-dismissable" role="alert">
    You are currently using elevated permissions, it will expire in {{ expiry|timeuntil }}.  <a href="{% url 'duo_drop_auth' %}?next={% firstof request.path '/' %}">Return to standard permissions now</a>.

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
