{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Duo-Frame.css' %}">
{% endblock head_css %}

{% block content %}

<p>{{ message }}</p>

<form method="POST" id="duo_form">
{% csrf_token %}
{% if next %}
<input type="hidden" name="next" value="{{ next }}"/>
{% endif %}
</form>

<script src="{% static 'js/Duo-Web-v2.js' %}"></script>
<iframe id="duo_iframe"
        title="Two-Factor Authentication"
        frameborder="0"
        data-host="{{ duo_host }}"
        data-sig-request="{{ sig_request }}"
        data-post-action="{{ post_action }}"
        >
</iframe>

{% endblock content %}
